<li id="review_<%= @review.id%>">
	<p><%=link_to @review.body, review_path(@review) %> </p>
	<%if (user_signed_in?) && (can? :update, @review)%>	
	<%= link_to "destroy" , review_path(@review.id), method: :delete, data: {confirm: "Are you sure you want to delete review "},remote: true %> | <%= link_to "Edit", edit_review_path(@review.id)%>	
	<%end%>
</li>
